body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.navigation-bar {
    display: flex;
    width: 100vw;
    height: 20vh;
}

.drop-down-menu-container {
    display: flex;
    width: 40vw;
    height: 20vh;
    align-items: center;
}

.drop-down-svg {
    margin-left: 2rem;
}

.logo-container {
    display: flex;
    width: 60vw;
    height: 20vh;
}

.store-title {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
}