@import url('https://fonts.googleapis.com/css2?family=Lato&family=Oswald:wght@400;700&display=swap');



:root {
    --aboutBackgroundColor: #800000;
}

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 150vh;
    background-size: cover;
    overflow-y: auto;
    overflow-x: hidden;
}

.bg-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('./Images/pexels-ray-piedra-1545529.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transform: translate3d(0, 0, 0); /* enable hardware acceleration */
    z-index: -1;
  }

.navigation-bar {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: transparent;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    z-index: 2;
}

.navigation-bar img {
    max-width: 100%;
    max-height: 100%;
}

.store-title {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.store-title-container {
    display: flex;
    width: 80vw;
    height: 70vh;
    align-items: center;
    justify-content: center;
    margin-bottom: 15vh;
}

.store-title-first-half {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
}

.since-text {
    display: flex;
    width: 100%;
    height: 50%;
    align-items: end;
    color: white;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 2vw;
    letter-spacing: .4rem;
}

.store-name {
    display: flex;
    width: 100%;
    height: 50%;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 9vw;
    flex-direction: row;
    font-weight: "regular";
}

.store-title-second-half {
    display: flex;
    width: 50%;
    height: 100%;
}

.about {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: var(--aboutBackgroundColor);
}

.about-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
}

.about-first-half {
    display: flex;
    width: 50%;
    height: 100%;
    flex-direction: column;
    align-items: center;
}

.about-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 30%;
    color: #161616;
    font-family: "Oswald", sans-serif;
    font-size: 5vw;
    letter-spacing: .7rem;
}

.about-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 70%;
    color: white;
    font-size: 1.7vw;
    font-family: "Lato", sans-serif;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    /* styles for screens with a maximum width of 480px (typically phones) */
    .about-text-container {
      font-size: 3.5vw;
    }
  }
  

.about-second-half {
    display: flex;
    width: 50%;
    height: 100%;
    background-image: url(./Images/about-picture.jpg);
    background-size: cover;
}

.footer {
    display: flex;
    width: 100vw;
    height: 50vh;
    background-color: transparent;
}

.footer-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.footer-first-half {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #700000;
    flex-direction: column;
}

.footer-second-half {
    display: flex;
    width: 50%;
    height: 100%;
    background-color: #600000;
}

.contact-title-container {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 4vw;
    letter-spacing: .4rem;
    justify-content: center;
}

.contact-info-container {
    display: flex;
    width: 100%;
    height: 70%;
    color: white;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

@media only screen and (max-width: 480px) {
    /* styles for screens with a maximum width of 480px (typically phones) */
    .contact-info-container {
      font-size: 3.6vw;
    }
  }
  

.visit-us-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.visit-us {
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 4vw;
    letter-spacing: .4rem;
    justify-content: center;
}

.open-hours {
    display: flex;
    width: 100%;
    height: 70%;
    color: white;
    font-family: "Lato", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
}

@media only screen and (max-width: 480px) {
    /* styles for screens with a maximum width of 480px (typically phones) */
    .open-hours {
      font-size: 3.7vw;
    }
  }
  