body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.navigation-bar {
    display: flex;
    width: 100vw;
    height: 20vh;
    background-color: #800000;
}

.drop-down-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.drop-down-menu {
    margin-right: 1rem;
}


.logo-container {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
}

.store-title {
    display: flex;
    width: 100vw;
    height: 80vh;
    justify-content: center;
}